.db-config {
    border-style: solid;
}

#db-config-form .warning {
    color: red;
    font-size: 0.8em;
}

#db-config-form input{
    width: 10em;
    height: 1.2em;
    font-size: 1em;
}

#db-config-form #dbdb{
    width: 16em;
}
#db-config-form .label {
    font-size: 0.75em;
}

#db-config-form .label {
    margin: 0.2em;
    font-size: 0.75em;
}

#db-config-form p {
    margin: 0.05em;
}

.connect {
    margin: 0.3em;
}
.connection-status {
    margin: 0.3em;
    background-color: rgba(205,205,205,1);
}

textarea {
    width: 18em;
    height: 1.5em;
    border: 3px solid #cccccc;
    padding: 0.5em;
}
