#db-config-form {
    border-style: solid;
    border-width: 1px;
    margin: 0.8em;
    padding: 0em;
}

#db-config-form .form-wrapper {
    padding: 0.4em;
}
#db-config-form .warning {
    color: red;
    font-size: 0.8em;
    background-color: white;
    margin-bottom: 0.6em;
}

#db-config-form input{
    width: 10em;
    height: 1.0em;
    font-size: 0.8em;
}

#db-config-form #dbdb,
#db-config-form #dbhost{
    width: 18em;
}


#db-config-form .label {
    margin: 0.2em;
    font-size: 0.75em;
}

#db-config-form p {
    margin: 0.05em;
}

.databases {
    margin: 0.8em;
}
.databases ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.databases li {
    border-bottom: 1px solid #ccc;
    margin-left: 0px;
    padding-left: 0.5em;
}
.databases li:last-child {
    border: none;
}

.result-container {
    background-color: rgba(240,250,255,1);
    padding: 0.5em;
}

textarea {
    width: 18em;
    height: 1.5em;
    border: 3px solid #cccccc;
    padding: 0.5em;
}

.good {
    background-color: rgba(200,255,200,1);
}

.bad {
    background-color: rgba(255,200,200,1);
}

.pending {
    background-color: rgba(200,200,200,1);
}
